/*CSS file for homework assignment 1 for Coursera course Web Design for everybody*/
header{
  background-color:rgba(255,0,0,0.4);
}
h1{
  color:rgba(0,0,255,0.9);
  text-transform:uppercase;
  text-align:center;
}
h2{
  color:rgba(0,255,0,0.5);
  text-transform:uppercase;
}
section{
  background-color:rgba(0.8,0,99,0.5);
}
a{
  background-color:rgba(20,0,0,0.7);
  color:rgba(0,255,0,0.9);
}
img{
  display:none;
}
